@import './shared/styles/page-dimensions.scss';

body {
  margin: 0;
}

.content-container {
  height: calc(100% - $menu-height);

  background-color: #000000;
  opacity: 1;
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #000000 10px),
    repeating-linear-gradient(#00363255, #003632);
}
