<button mat-button class="logo-container" routerLink="dashboard" routerLinkActive="active">
  <div class="logo"></div>
  <span>{{ 'Dashboard' | uppercase }}</span>
</button>
<button mat-button class="menu-item">MENU ITEM</button>
<button mat-button class="menu-item">MENU ITEM</button>
<button mat-button class="menu-item">MENU ITEM</button>
<button mat-icon-button [matMenuTriggerFor]="settings_menu" class="menu-icon-item">
  <mat-icon>settings</mat-icon>
</button>

<mat-menu #settings_menu>
  <button mat-menu-item><mat-icon>admin_panel_settings</mat-icon><span>MENU ITEM</span></button>
</mat-menu>
