@use '@angular/material' as mat;
@import '../shared/styles/page-dimensions.scss';

button {
  border-radius: 0 !important;
  background-color: rgb(44, 44, 44) !important;
  color: white;

  &.active {
    background-color: rgb(57, 57, 57) !important;
  }
}

::ng-deep.mat-menu-panel {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 8px !important;
  background-color: rgb(44, 44, 44) !important;
}

:host {
  height: $menu-height;
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-color: white;

  position: relative;
  z-index: 100;

  @include mat.elevation(4);

  .logo-container {
    width: 25%;

    font-size: 1.5rem;

    ::ng-deep .mat-button-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .logo {
      height: 60px;
      width: 60px;

      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      background-image: url('../../assets/logos/bitcoin.svg');
    }
  }

  .menu-item {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-icon-item {
    height: 100%;
    width: $menu-height;

    border-radius: 0;
  }
}
