:host {
  height: 100%;
  display: grid;
  align-content: center;
  justify-items: center;

  mat-card {
    height: 40vh;
    width: 40vw;
    padding: 30px 50px 50px 50px;

    mat-card-header {
      justify-content: flex-end;
    }
  }
}
